<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="SkillCooldownData" type="System.Configuration.NameValueSectionHandler" />
	</configSections>

	<appSettings>
		<add key="countoffiles" value="7" />
		<add key="logfilelocation" value="abc.txt" />
	</appSettings>

	<SkillCooldownData>
		<add key="iconPath" value="C:\TestPath" />
		<add key="cooldownSeconds" value="30" />
		<add key="keyboardKey" value="E" />
	</SkillCooldownData>


</configuration>








